.title{
  text-align: center;
  margin-bottom: 20px;
}
.container{
  display: flex;
  width: 70vw;
  justify-content: space-between;
  overflow-y: auto;
}

.containerAdding{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  position: relative;
}


.containerRender {
  width: 70%;
  height: 60vh;
  overflow:scroll;
  overflow-x:hidden;
}
