.container{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
  border-radius: 10px;
  overflow-y: auto;
  height: 90%;
  max-width: 550px;
  min-width: 600px;
  box-sizing: border-box;
  background: rgba(222, 215, 194, 0.97);
  display: flex;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  overflow-y: auto;
  margin: 20px;
}



.contentContainer::-webkit-scrollbar {
  width: 3px; /* scrollbar width */

}

.contentContainer::-webkit-scrollbar-thumb {
  background-color: #65503D ; /* scrollbar color */
  border-radius: 10px; /* scrollbar border radius */
  height: 5px;

}

.contentContainer::-webkit-scrollbar-track {
  background-color: #D0B791; /* scrollbar track color */
  height: 5px;
}
.spanLine,
.spanLineMiddle
{
  width: 100%;
  border-bottom: 1px solid #65503D;
  margin: 20px 0;
}
.spanLineMiddle{
  margin: 10px 0;
}

.degustationApproach{
  display: flex;
  justify-content: center;
}

.degustationApproach span {
  letter-spacing: 3px;
  font-style: italic;
  font-size: 16px;
}

.container h1{
  text-align: center;
  margin: 50px 30px 0 30px;
  font-size: 28px;
  letter-spacing: 3px;
  font-style: italic;
}

.container h2{
  text-align: center;
  margin: 10px 30px;
  font-size: 14px;
}

.container p{
  text-align: left;
  margin: 10px 30px;
  font-size: 14px;
}



.owerflauBlock {
  max-height: 500px;
  min-height: 200px;
  margin-top: 20px;
  max-width: 600px;
  min-width: 500px;
  overflow-y: auto;
}


.owerflauBlock::-webkit-scrollbar {
  width: 3px; /* scrollbar width */

}

.owerflauBlock::-webkit-scrollbar-thumb {
  background-color: #65503D ; /* scrollbar color */
  border-radius: 10px; /* scrollbar border radius */
  height: 5px;

}

.owerflauBlock::-webkit-scrollbar-track {
  background-color: #D0B791; /* scrollbar track color */
  height: 5px;
}
.containerList{
  border: 1px solid #79634D;
  border-left:0;
  padding: 10px 20px;
  position: relative;
  margin: 20px 0 0 40px;
  border-radius: 5px;
  z-index: 2;
  display: flex;
}

.containerList:before {
  content: " ";
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  top: 2px;
  left: -30px;
  z-index: -1;
  border:1px solid #79634D;
  border-right: 0px;
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  border-radius: 5px;
}


.content_date{
  display: flex;
  justify-content: space-between;
}

.content_name{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .container{
    right: 5%;
    min-width: 250px;
  }
  .contentContainer{
    min-width: 250px;
    height: 500px;
  }

  .owerflauBlock{
    min-width: 250px;
    height: 300px;
  }

  .containerList{
    min-width: 250px;
  }
}
